.babe-view-button-custom{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:"Lato", "Noto Sans", sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#5187BA;
    text-align:center;
    transition: all 0.2s;
    }
.babe-view-button-custom:hover{
    background-color:#324D93;
}
@media all and (max-width:30em){
    a.button3{
    display:block;
    margin:0.2em auto;
    }
}